body{
    background-color: hsl(210, 46%, 95%);
}

.article{
    background: white;
    width: 700px;
    height: 300px;
    margin-top: 200px;
    margin-left: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    overflow: hidden;
    
}

 .article .article-left img{
    width: 300px;
    height: 300px;
}
#person{
    width: 50px;
    height: 50px;
}
.bottom p{
    margin-left: -20px;
}
#share-icon{
    margin-top: 25px;
    margin-left: 60px;
    width: 25px;
    height: 25px;
}

.article .article-right .bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}

.attribution { font-size: 11px; text-align: center;margin-top: 100px; }
.attribution a { color: hsl(228, 45%, 44%); }